*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
}

header {
    background-image: url("Pictures/Background_header.png");
    background-size: 100%;
    background: scaleX(-1);
    border-image-width: 100%;
    aspect-ratio: 1280/813; 
}

h2 {
    text-align: center;
    font-family: "Sansita Swashed", system-ui;
    font-size: 225%;
    padding: 120px 20%;
    font-weight: auto;
    font-style: SemiBold;
    color: black;
}

.nav-icon {
    display: flex;
    position: relative;
    width: 2rem;
    height: auto;
}

.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: grey;
  display: block;
  position: absolute;
  right: 25px;
  top: 30%;
}

/* Style the active link (or home/logo) */
.active {
  background-color: white;
}

.header-top {
    display: flex;
    position: absolute;
    left: 10px;
    gap: 10%;
    top: 10px;
    align-items: center;
}

.header-icon {
    display: flex;
    position: relative;
    width: 2rem;
    height: auto;
}

.top-info {
    position: relative;
    min-width: 450px;
    display: flex;
    gap: 33px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    color: white;
}

.section-top-produits {
    gap: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-produit {
    width: 360px;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.background-top-produit {
    position: relative;
    border-radius: 8px;
    width: 360px;
    height: auto;
    z-index: 0;
}

.background-slate {
    position: absolute;
    z-index: 0;
    width: 800px; /* fixed size */
    height: auto;
    top: 0; /* shift image upward to show desired part */
    left: 0;
}

.top-produit-texts {
    gap: 100px;
    text-align: center;
    position: relative;
    width: 360px;
    height: auto;
    max-height: 1000px;
    max-width: 360px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.top-produit-photo {
    top: 5px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.prix-top-produit {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 2rem;
    font-weight: 600;
    font-style: Medium;
    color: white;
    position: relative;
}

.nom-top-produit {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: Medium;
    color: white;
    position: relative;
}

.info-btn {
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1/1;
    width: auto;
    height: auto;
    margin-left: auto;
    margin: 0 0 0 0;
}

.add-btn {
    position: relative;
    align-items: end;
    justify-content: right;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1.2rem;
    color: white;
    font-weight: 600;
    font-size: clamp(0.9rem, 2vw, 1rem);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

@media (max-width: 768px) {
.topnav {
width: 100%; /* adds full width to mydiv which is best for mobiles */
display: block; /* displays mydiv as a block */
}
.header-top {
position:absolute;
display: none; /* Doesn’t display mydiv-2 at screen sizes upto 700px  */
}
}

@media (min-width: 769px) {
.header-top {
width: 100%; /* adds full width to mydiv which is best for mobiles */
display: block; /* displays mydiv as a block */
}
.topnav {
position:absolute;
display: none; /* Doesn’t display mydiv-2 at screen sizes upto 700px  */
}
}