*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    max-height: 100%;
    max-width: 100%;
}

header {
    background-image: url("Pictures/Background_header.png");
    background-size: 100%;
    background: scaleX(-1);
    border-image-width: 100%;
    aspect-ratio: 1280/813; 
}

h2 {
    text-align: center;
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: 33%;
    font-weight: auto;
    font-style: SemiBold;
    color: black;
}
.header-top {
    display: flex;
    position: absolute;
    left: 10px;
    gap: 10%;
    top: 10px;
    align-items: center;
}

.header-icon {
    display: flex;
    position: relative;
    width: 10%;
    height: auto;
}

.top-info {
    position: relative;
    min-width: 450px;
    display: flex;
    gap: 33px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    color: white;
}

.section-top-produits {
    gap: 13px;
    display: flex;
    position: relative;
    justify-content: center;
}

.top-produit {
    width: 360px;
    height: auto;
    max-width: 80%;
    display: flex;
    position: relative;
}

.background-top-produit {
    text-align: center;
    position: relative;
    width: 360px;
    height: auto;
    border-radius: 8px;
    z-index: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.background-slate {
     position: absolute;
    width: 2000px; /* fixed size */
    height: 1000px;
    top: 0px; /* shift image upward to show desired part */
    left: 0px;
}

.top-produit-photo {
    position: relative;
}

.prix-top-produit {
    position: relative;
}

.nom-top-produit {
    position: relative;
}

.info-btn {
    position: relative;
}

.add-btn {
    position: relative;
}