*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
}

header {
    background-image: url("Pictures/Background_header.png");
    background-size: 100%;
    border-image-width: 100%;
    aspect-ratio: 1280/813; 
}

h2 {
    text-align: center;
    font-family: "Sansita Swashed", system-ui;
    font-size: 5vw;
    padding: 8vw 0;
    font-weight: 600;
    color: black;
}

.nav-icon {
    display: flex;
    position: relative;
    width: 2rem;
    height: auto;
}

.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background:grey;
    display: block;
    position: absolute;
    right: 25px;
    top: 30%;
}

/* Style the active link (or home/logo) */
.active {
    background-color: white;
}

.header-top {
    display: flex;
    position: absolute;
    left: 10px;
    gap: 2vw;
    top: 10px;
    align-items: center;
}

.header-icon {
    display: flex;
    position: relative;
    width: 5vw;
    height: 5vw;
}

.top-info {
    cursor: pointer;
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5vw;
    bottom: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2vw;
    color: white;
}

.header-center {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 10vw;
    gap: 3vw;
    top: 15vw;
}

.header-center-gold {
    top: 4vw;
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: 600;
    color: rgba(233, 189, 140, 1);
    display: flex;
    text-align: left;
}

.header-center-white {
    position: relative;
    text-align: center;
    font-family: "Sansita Swashed", system-ui;
    font-size: 5vw;
    width: 30vw;
    font-weight: 400;
    color: white;
    display: flex;
    text-align: left;
}

.header-btn {
    position: relative;
    border: 1px;
    border-color: black;
    background-color: rgb(147, 60, 36);
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: 600;
    padding: 1vw 1vw;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
    margin: 0;
    flex-shrink: 0;
    width:19.5vw;
}

.header-btn:hover {
    transform:scale(1.05);
}

.section-top-produits {
    row-gap: 20px;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.top-produit {
    min-width: 300px;
    max-width: 360px;
    width: auto;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px 0px;
}

.background-top-produit {
    padding: 10px 0px;
    position: relative;
    border-radius: 8px;
    min-width: 300px;
    max-width: 360px;
    width: 360px;
    height: auto;
    top: -30px;
    z-index: 0;
}

.background-slate {
    position: absolute;
    z-index: 0;
    width: 1280px; /* fixed size */
    height: 814px;
    top: 0; /* shift image upward to show desired part */
    left: 0;
}

.top-produit-texts {
    display: flex;
    gap: 30%;
    align-items: start;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.top-produit-left-texts {
    right: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    gap: 30px;
    z-index: 1;
}

.top-produit-right-texts {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    gap: 30px;
    z-index: 1;
}

.top-produit-top-texts {
    margin: 0;
    justify-content: center;
    gap: 50%;
    margin-right: 8%;
    text-align: center;
    position: relative;
    min-width: 300px;
    height: auto;
    padding-bottom: 30px;
    max-height: 1000px;
    max-width: 360px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.top-produit-bottom-texts {
    align-items: stretch;
    justify-content: space-around;
    text-align: center;
    position: relative;
    width: 105%;
    margin-left: 0;
    height: auto;
    max-height: 1000px;
    max-width: 360px;
    display: flex;
    padding-bottom: 30px;
    flex-direction: row;
    position: relative;
    z-index: 1;
}


.top-produit-photo {
    width: 60%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.prix-top-produit {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    position: relative;
    margin: 7px 0;
    flex-shrink: 0;
}

.nom-top-produit {
    max-width: 150px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    text-align: left;
    justify-content: left;
    flex-shrink: 0;
}

.info-btn {
    max-width: 40px;
    max-height: 40px;
    min-width: 30px;
    min-height: 30px;
    margin: 0 28%;
    display: flex;
    flex-shrink: 0;
}

.add-btn {
    background-color: rgb(147, 60, 36);
    height: 37px;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: clamp(0.9rem, 2vw, 1rem);
    cursor: pointer;
    margin: 0;
    flex-shrink: 0;
}

.add-btn:hover {
    transform:scale(1.05);
}

.reduction {
    max-width: 100vw;
    width: 100vw;
    background-position-x: 50%;
    background-position-y: 0;
    height: 442px;
    background-repeat: no-repeat;
    background-image: url("Pictures/Background_reduction.png");
    border-image-width: 100%;
    aspect-ratio: 1280/442;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
}

.percent {
    width: 60%;
    text-align: center;
    justify-content: center;
    font-family: "Sansita Swashed", system-ui;
    font-size: 3px;
    font-weight: 500;
    color: rgba(147, 60, 36, 1);
}

.red-text {
    width: 50%;
    text-align: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: rgba(93, 93, 93, 1)
}

.more-btn {
    display: flex;
    position: relative;
    border: 1px;
    border-color: black;
    background-color: rgb(147, 60, 36);
    font-family: "Inter", sans-serif;
    font-size: 2vw;
    font-weight: 600;
    padding: 2% 1.5%;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
    margin: 0;
    flex-shrink: 0;
    width:19.5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.more-btn:hover {
    transform:scale(1.05);
}

.scroll-discover {
    padding-bottom: 20px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-x: scroll;
}

.scroll-item {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2vw;
    color: rgba(93, 93, 93, 1);
}

.section-picture-discover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.picture-discover {
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    transition: filter 0.3s ease;
}

.picture-discover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.about {
    max-width: 100vw;
    width: 100vw;
    background-position-x: 50%;
    background-position-y: 0;
    height: 380px;
    background-repeat: no-repeat;
    background-image: url("Pictures/Background_a_propos.png");
    border-image-width: 100%;
    aspect-ratio: 1071/380;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
}

.about-sub {
    width: 60%;
    text-align: center;
    justify-content: center;
    font-family: "Sansita Swashed", system-ui;
    font-size: 3px;
    font-weight: 500;
    color: white;
}

.about-text {
    width: 50%;
    text-align: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: rgba(185, 185, 185, 1)
}

.section-plaisirs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

.plaisir-photo {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.plaisir-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.texts-plaisir {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nom-plaisir {
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.prix-plaisir {
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

footer {
    max-width: 100vw;
    width: 100vw;
    background-position-x: 50%;
    background-position-y: 0;
    height: 633px;
    background-repeat: no-repeat;
    background-image: url("Pictures/Background_footer.png");
    border-image-width: 100%;
    aspect-ratio: 1280/633;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
}

.top-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-icon {
    width: 114px;
    aspect-ratio: 114/116;
    margin: 5vw auto;
}

.top-footer-follow-section {
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.top-footer-follow {
    display: flex;
    margin: auto;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(233, 189, 140, 1);
}

.social-icons {
    justify-content: center;
    display: flex;
    gap: 30px;
    margin: 0 auto;
    padding: 0;
}

.social-btn {
    margin: 0;
    padding: 0;
    width: 42px;
    height: 42px;
    display: flex;
}

.footer-info-section {
    justify-content: center;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-info {
    flex-direction: row;
}

.footer-title {
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: rgba(233, 189, 140, 1);
    display: flex;
}

.footer-text {
    justify-content:flex-start;
    padding-top: 15px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    display: flex;
}

.footer-actu {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 10px;
}

.footer-photo {
    display: flex;
    width: 100px;
    aspect-ratio: 100/67;
}

.footer-actu-texts {
    margin-top: 4px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
}

.footer-actu-date {
    display: flex;
    display: block;
    flex-shrink: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(233, 189, 140, 1);
}

.footer-actu-name {
    display: flex;
    display: block;
    flex-shrink: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.footer-rights {
    padding-top: 40px;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(115, 115, 115, 1);
    padding-bottom: 20px;
    max-width: 50vw;
}

/* Quand on survole un élément dans .info-card */
.section-picture-discover:hover .picture-discover {
    filter: blur(4px);
    opacity: 0.6;
}

/* Sauf celui qu'on survole */
.section-picture-discover .picture-discover:hover {
    filter: none;
    opacity: 1;
}

@media (max-width: 768px) {
.topnav {
width: 100%; /* adds full width to mydiv which is best for mobiles */
display: block; /* displays mydiv as a block */
}
.header-top {
position:absolute;
display: none; /* Doesn’t display mydiv-2 at screen sizes upto 700px  */
}
.texts-plaisir {
justify-content: space-between;
}
.footer-rights {
font-size: 16px;
}
.top-footer-follow {
    padding-bottom: 30px;
}
}

@media (min-width: 769px) {
.header-top {
width: 100%; /* adds full width to mydiv which is best for mobiles */
display: block; /* displays mydiv as a block */
}
.topnav {
position:absolute;
display: none; /* Doesn’t display mydiv-2 at screen sizes upto 700px  */
}
.texts-plaisir {
justify-content: space-around;
}
.footer-rights {
font-size: 24px;
}
.top-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-icon {
    margin: 35px 0;
}
.top-footer-follow-section {
    width: 60vw;
    align-items: center;
    flex-direction: row;
    justify-content: right;
}
}

@media (max-width: 1280px) {
.reduction {
    background-size: 1280px;
    height: 100%;
}
.red-text {
    font-size: 3vw;
}
.percent {
    font-size: 4vw;
}
.about-text {
    font-size: 3vw;
}
.about-sub {
    font-size: 4vw;
}
footer {
    background-size: 1000%;
    aspect-ratio: auto;
    height: auto;
}
}

@media (min-width: 1281px) {
.reduction {
    background-size: 100vw;
    height: auto;
}
.about {
    background-size: 100%;
    height: auto;
}
.red-text {
    font-size: 3vw;
}
.percent {
    font-size: 4vw;
}
.about-text {
    font-size: 3vw;
}
.about-sub {
    font-size: 4vw;
}
footer {
    background-size: 100%;
    height: auto;
}
}

@media (max-width: 1079px) {
.about {
    background-size: 1079px;
    height: 100%;
}
}

@media (min-width: 1080px) {
.about {
    background-size: 100%;
    height: auto;
}
}

@media (max-width: 718px) {
.footer-title {
justify-content: center;
}
}

@media (min-width: 719px) {
.footer-title {
justify-content: flex-start;
}
}