*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
}

header {
    background-image: url("Pictures/Background_header.png");
    background-size: 100%;
    background: scaleX(-1);
    border-image-width: 100%;
    aspect-ratio: 1280/813; 
}

h2 {
    text-align: center;
    font-family: "Sansita Swashed", system-ui;
    font-size: 5vw;
    padding: 8vh 0;
    font-weight: auto;
    font-style: SemiBold;
    color: black;
}

.nav-icon {
    display: flex;
    position: relative;
    width: 2rem;
    height: auto;
}

.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: grey;
    display: block;
    position: absolute;
    right: 25px;
    top: 30%;
}

/* Style the active link (or home/logo) */
.active {
    background-color: white;
}

.header-top {
    display: flex;
    position: absolute;
    left: 10px;
    gap: 2vw;
    top: 10px;
    align-items: center;
}

.header-icon {
    display: flex;
    position: relative;
    width: 5vw;
    height: 5vw;
}

.top-info {
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5vw;
    bottom: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 2vw;
    color: white;
}

.header-center {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 10vw;
    gap: 3vw;
    top: 15vw;
}

.header-center-gold {
    top: 4vw;
    position: relative;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 3vw;
    font-weight: 600;
    font-style: Medium;
    color: rgba(233, 189, 140, 1);
    display: flex;
    text-align: left;
}

.header-center-white {
    position: relative;
    text-align: center;
    font-family: "Sansita Swashed", system-ui;
    font-size: 5vw;
    width: 30vw;
    font-weight: auto;
    font-style: Regular;
    color: white;
    display: flex;
    text-align: left;
}

.header-btn {
    position: relative;
    border: 1px;
    border-color: black;
    background-color: rgb(147, 60, 36);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 3vw;
    font-weight: 600;
    padding: 1vw 1vw;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
    margin: 0;
    flex-shrink: 0;
    width:19.5vw;
}

.section-top-produits {
    gap: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-produit {
    width: 360px;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.background-top-produit {
    position: relative;
    border-radius: 8px;
    width: 360px;
    height: auto;
    z-index: 0;
}

.background-slate {
    position: absolute;
    z-index: 0;
    width: 1280px; /* fixed size */
    height: 814px;
    top: 0; /* shift image upward to show desired part */
    left: 0;
}

.top-produit-top-texts {
    gap: 100px;
    justify-content: space-around;
    text-align: center;
    position: relative;
    width: 360px;
    height: auto;
    max-height: 1000px;
    max-width: 360px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.top-produit-bottom-texts {
    gap: 100px;
    justify-content: space-around;
    text-align: center;
    position: relative;
    width: 360px;
    height: auto;
    max-height: 1000px;
    max-width: 360px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 10px;
    margin-right:15px;
    z-index: 1;
}


.top-produit-photo {
    padding: 20px 30px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.prix-top-produit {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 2rem;
    font-weight: 600;
    font-style: Medium;
    color: white;
    position: relative;
    margin: 0;
    flex-shrink: 0;
}

.nom-top-produit {
    max-width: 150px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    font-style: Medium;
    color: white;
    position: relative;
    text-align: left;
    justify-content: left;
    flex-shrink: 0;
}

.info-btn {
    max-width: 40px;
    max-height: 40px;
    min-width: 30px;
    min-height: 30px;
    margin: 0;
    flex-shrink: 0;
}

.add-btn {
    background-color: rgb(147, 60, 36);
    height: 37px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: clamp(0.9rem, 2vw, 1rem);
    cursor: pointer;
    margin: 0;
    flex-shrink: 0;
}

@media (max-width: 768px) {
.topnav {
width: 100%; /* adds full width to mydiv which is best for mobiles */
display: block; /* displays mydiv as a block */
}
.header-top {
position:absolute;
display: none; /* Doesn’t display mydiv-2 at screen sizes upto 700px  */
}
}

@media (min-width: 769px) {
.header-top {
width: 100%; /* adds full width to mydiv which is best for mobiles */
display: block; /* displays mydiv as a block */
}
.topnav {
position:absolute;
display: none; /* Doesn’t display mydiv-2 at screen sizes upto 700px  */
}
}